<p-table
  [value]="companies"
  [(selection)]="selectedCompanies"
  dataKey="id"
  [tableStyle]="{ 'min-width': '60rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th>Id</th>
      <th>Name</th>
      <th>CUI</th>
      <th>Establishment Date</th>
      <th>Address</th>
      <th>Phone</th>
      <th>IBANS</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-company>
    <tr>
      <td>
        <p-tableCheckbox [value]="company" />
      </td>
      <td>{{ company.id }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.cui }}</td>
      <td>{{ company.establishmentDate }}</td>
      <td>{{ company.address }}</td>
      <td>{{ company.phone }}</td>
      <td>{{ company.ibans }}</td>
    </tr>
  </ng-template>
</p-table>
