<p-table
  [value]="individuals"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width: 10%">
        Id <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="firstName" style="width: 20%">
        First Name <p-sortIcon field="firstName" />
      </th>
      <th pSortableColumn="lastName" style="width: 20%">
        Last Name <p-sortIcon field="lastName" />
      </th>
      <th style="width: 25%">CNP</th>
      <th pSortableColumn="birthDate" style="width: 20%">
        Birth Date <p-sortIcon field="birthDate" />
      </th>
      <th style="width: 20%">Address</th>
      <th style="width: 20%">Phone</th>
      <th style="width: 20%">Ibans</th>
      <th style="width: 20%">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-individual>
    <tr>
      <td>{{ individual?.id }}</td>
      <td>{{ individual?.firstName }}</td>
      <td>{{ individual?.lastName }}</td>
      <td>{{ individual?.personalNumber }}</td>
      <td>{{ individual?.birthDate | date }}</td>
      <td>{{ individual?.address }}</td>
      <td>{{ individual?.phone }}</td>
      <td>{{ individual?.ibanAccounts.length }}</td>
      <td>
        <div class="actions">
          <p-button
            icon="pi pi-pencil"
            (click)="onEditRecord(individual.id)"
            severity="warning"
          />
          <p-button
            icon="pi pi-trash"
            (click)="onDeleteRecord(individual.id)"
            severity="danger"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
