.form-container {
  max-width: 1600px;
  margin: auto;

  &__form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input-group {
    label {
      display: block;
      margin-bottom: 5px;
    }
  }

  .iban-input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
