<p-table
  [value]="legalEntities"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width: 8%">
        Id <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="name" style="width: 25%">
        Name <p-sortIcon field="name" />
      </th>
      <th style="width: 25%">CUI</th>
      <th pSortableColumn="establishementDate" style="width: 25%">
        Establishment Date <p-sortIcon field="establishementDate" />
      </th>
      <th style="width: 25%">Address</th>
      <th style="width: 25%">Phone</th>
      <th style="width: 25%">Ibans</th>
      <th style="width: 25%">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-legalEntity>
    <tr>
      <td>{{ legalEntity?.id }}</td>
      <td>{{ legalEntity?.name }}</td>
      <td>{{ legalEntity?.registrationNumber }}</td>
      <td>{{ legalEntity?.establishmentDate | date }}</td>
      <td>{{ legalEntity?.address }}</td>
      <td>{{ legalEntity?.phone }}</td>
      <td>{{ legalEntity?.ibanAccounts.length }}</td>
      <td>
        <div class="actions">
          <p-button
            icon="pi pi-pencil"
            severity="warning"
            (click)="onEditRecord(legalEntity.id)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            (click)="onDeleteRecord(legalEntity.id)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
